<h1>IRONCINEMA</h1>
<h2>Click on the movie to check the showtimes!</h2>
<div id="container">
    {{#each movies}}
        <div class="movies" href="books/{{this._id}}"> 
            {{this.image}},
            {{this.title}}
        </div>
</div>
