
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  padding: 50px;
  font: 0.75em 'Varela Round', sans-serif;
}

a {
  color: rgb(35, 126, 140);
  font-size: 0.85em;
}

button {
  width: 125px;
  height: 25px;
  border-radius: 25px;
  margin-bottom: 60px;
  background-color:rgb(243, 247, 217);
}

img {
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

h1 {
  margin: auto;
}

/* ---- id style ---- */

#index {
  display: flex;
  justify-content:center;
  align-items:flex-end;
  height: 500px;
  width: 800px;
  margin: auto;
  background-image: url(../images/cine.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0px;
  text-align: center;
}

#detail-container {
  display: flex;
  margin: auto 50px;
}

/* ---- class style ---- */

.movies {
  margin: 25px 75px;
}

.movie-detail {
  margin: auto 40px;
  width: 40%;
}